@import url('https://fonts.cdnfonts.com/css/istok-web');
@import url('https://fonts.cdnfonts.com/css/inter');

.akademik{
    width: 100%;
    height:  1024px;
    background: #0C356A;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.jurusan {
    display: flex;
    flex-direction: row;
}

h2 {
    width: 281px;
    height: 53px;
    color: #FFF;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    margin-top: 180px;
}

.Jurusan-Container {
    width: 355px;
    height: 712px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 30px;
}

.Jurusan-Container img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jrs{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.jrs p  {
    width: 190px;
    height: 60px;
    color: #000;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    margin-top: 20px;
}

.Jurusan-Container-v {
    width: 355px;
    height: 712px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 30px;
}

.Jurusan-Container-v img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jrs-v{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.jrs-v p  {
    width: 190px;
    height: 60px;
    color: #000;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    margin-top: 5px;
}


.Text{
    width: 292px;
    height: 220px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
    margin-left: 40px;
}

.selengkapnya{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    height: 100px;
    width: 500px;
    margin-top: 40px;
}

.selengkapnya img{
    height: 45px;
    width: 35px;
    margin-top: 26px;
}

.selengkapnya a{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 281px;
    height: 53px;
    color: #000;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}


